<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example </title>
</head>
<body>
<div th:if="${param.error}" style="font-family:arial" align="center">
    <br><b>Invalid username and password.</b>
</div>
<div th:if="${param.logout}" style="font-family:arial" align="center">
    <br><b>You have been logged out.</b>
</div>
<form th:action="@{/login}" method="post">
    <table valign="top" align="center" style="font-family:arial">
        <tr>
            <td align="center">
                <h1>
                    Log In...
                </h1>
            </td>
        </tr>
        <tr>
            <td align="right">
                <br>
                <label> user name : <input type="text" name="username"/>
                </label>
            </td>
        </tr>
        <tr>
            <td align="right">
                <label> password: <input type="password" name="password"/>
                </label>
            </td>
        </tr>
        <tr>
            <td align="right">
                <input type="submit" value="Sign In"/>
            </td>
        </tr>
    </table>
</form>
</body>
</html>